
tr:nth-child(even) {background-color: #9fe4f53a}
.ab {
   font-size:25px;
   color:#7f7f7f;
   font-weight:400 !important;
   border: radius 15px;
}
.ac {
    border-radius: 15px;
    margin-top:100px;
    background-color:#ffffff ;
}

.clr{
   padding-right: 20px;
   color:#7f7f7f;
}

.hey {
   // background-color: var(--darkblue);
   font-size: 20px;
   // height: 7vh;
   // padding-top: 2vh;
   // padding-left: 3vh;
  
}

.pad {
   padding-left: 5px;
   font: weight 500px;;
   color:#7f7f7f; 
}
.pad1 {
   padding-left: 5px;
}
.aa{
   text-align:center;
   font-size: 20px;
   font-weight:500;
   padding-top: 25px;
   padding-bottom: 25px;
}
.ro {
   font-size: 24px;
   padding-top: 6px;
}
.ro1 {
   color:red;
   padding-left: 10px;
}
.bl {
   color:blue
}

