
<div class="row">
    <div class="col-6">
      <div class="card" style="border-radius:15px;">
        <div class="card-body" style="border-radius:15px;">
          <h5 class="card-title hey"style="border-radius:10px;" >
            <div class="row" >
              <div class="col-6" style="color:#4d4c4c;" >
              Edit Details
              </div>
              <div class="col-3">
               </div>
               <div class="col-3" style="    padding-left: 65px;">
                <!-- <i class="fa fa-pencil-square-o" aria-hidden="true" style="padding-right:10px;padding-left:22px;"></i> -->
                <i class="fa fa-times" aria-hidden="true"></i>
               </div>
            </div>
            </h5>
            <div class="row"style="padding-top: 24px;">
              <div class="col-6 pad">
                <p>Product Name</p>
              </div>
              <div class="form-group col-md-6">
                <input class="form-control" type="text" placeholder="">
              </div>
            </div>
            <div class="row"style="padding-top: 24px;">
              <div class="col-6 pad">
                <p>Brand Name</p>
              </div>
              <div class="form-group col-md-6"  >
                <input class="form-control" type="text" placeholder="">
              </div>
            </div>
            <div class="row" style="padding-top: 24px;">
              <div class="col-6 pad">
                <p>Image</p>
              </div>
              <div class="form-group col-md-6">
                <form>
                    <div class="form-group">
                      <!-- <label for="exampleFormControlFile1">Example file input</label> -->
                      <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </form>
              </div>
            </div>
            <div class="row" style="padding-top: 24px;">
                <div class="col-6 pad">
                  <p>Description</p>
                </div>
                <div class="form-group col-md-6">
                    <form>
                        <div class="form-group">
                          <label class=" padd" for="comment"></label>
                          <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                      </form>
                </div>
              </div>
              <div class="row"style="padding-top: 24px;">
                <div class="col-6 pad">
                  <p>Fixed Price</p>
                </div>
                <div class="form-group col-md-6" >
                    <input class="form-control" type="number" placeholder="">
                </div>
              </div>
              <div class="row" style="padding-top: 24px;">
                <div class="col-6 pad">
                  <p>Offer Price</p>
                </div>
                <div class="form-group col-md-6" >
                    <input class="form-control" type="number" placeholder="">
                </div>
              </div>
              <div class="row" style="padding-top: 24px; text-align: left;">
                <div class="col-6"></div>
                <div class="col-3">
                    <button type="button" class="btn btn-danger">Cancel</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          <p class="card-text">
          </p>
        </div>
      </div>
    </div>
    </div>
