<div class="pageCover">
   <div class="pageCover__header header" id="header" style="z-index: 999;">
    <app-header></app-header>
   </div>
</div>
        <app-sidebar></app-sidebar>

        <div class=" container ">
            <div class="row">
    <!-- <div class=" col-9 " >
        <div class="pageCover__body__right__content"> -->
            <!-- <app-dashboard></app-dashboard> -->
            <!-- <router-outlet></router-outlet>
            </div>

            </div>
</div> -->

</div>
<div class="pageCover__body">
    <div class="pageCover__body__left">
        <app-sidebar></app-sidebar>
    </div>
    <div class="pageCover__body__right" style="    margin-left: 171px;    width: 90%;">
        <div class="pageCover__body__right__content">
            <router-outlet></router-outlet>
            </div>
            </div>
</div>

