<div class="card ac pa shad">
    <div class="card-body">
        <div class="row" style="padding-top:0px">
            <div class="col-5 ab"><i class="fa fa-phone" style="padding-right:20px;" aria-hidden="true"></i>Customer
                Support</div>
            <div class="col-4">
            </div>
            <div class="col-3" Style=" text-align: center;">
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-6">
        <div class="card" style="padding-left:15px">
            <div class="card-body ">
                <form>
                    <div class="row">
                        <div class="col-10">

                            <div class="form-group mt-2 ">
                                <label for="formGroupExampleInput" class="pb-2">Enter Contact Number</label>
                                <input type="text" class="form-control " id="formGroupExampleInput"
                                    placeholder="Contact Number">
                            </div>
                        </div>
                        <div class="col-1 pto">
                            <h1><i class="fa fa-plus-circle text-primary" aria-hidden="true"></i></h1>
                        </div>
                        <div class="col-1 pto">
                            <h1><i class="fa fa-trash text-danger" aria-hidden="true"></i></h1>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-10">

                            <div class="form-group mt-2 ">
                                <label for="formGroupExampleInput" class="pb-2">Enter Email Address</label>
                                <input type="text" class="form-control " id="formGroupExampleInput"
                                    placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-1 pto">
                            <h1><i class="fa fa-plus-circle text-primary" aria-hidden="true"></i></h1>
                        </div>
                        <div class="col-1 pto">
                            <h1><i class="fa fa-trash text-danger" aria-hidden="true"></i></h1>
                        </div>

                    </div>

                    <div class="row mt-4">
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary btn-sm"
                                style="margin-left:155px;">Cancel</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-primary btn-sm">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
</div>