
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <div class="container" style="margin-top:100px;background-color:#eaeaea ; padding-right:0px; padding-left:0px;"> -->
  <div class="card ac shad">
    <div class="card-body">
  <div class="row ">
    <div class="col-6 ab " ><i class="fa fa-clock-o" style="padding-right:20px;" aria-hidden="true"></i>Recent orders</div>
    <div class="col-4">
        <div class="input-group ps-5">
            <!-- <div id="navbar-search-autocomplete" class="form-outline">
              <input type="search" id="form1" class="form-control" />
              <label class="form-label" for="form1">Search</label>
            </div> -->
            <!-- <button type="button" class="btn btn-primary">
              <i class="fas fa-search"></i>
            </button> -->
          </div>
    </div>
    <div class="col-2 bar ">
      <i class="fa fa-th-large clr" aria-hidden="true"(click)="changeview()"></i>
      <i class="fa fa-bars" style="color:#95d5fc" aria-hidden="true"(click)="changeview1()"></i>
    </div>
  </div>
    </div>
  </div>
  <br>
  <!-- <app-orgtable [inp]="TabData1"></app-orgtable> -->
  <app-primeng *ngIf="tabview==false"></app-primeng>
  <br>
<div class="row"*ngIf="tabview==true">
<div class="col-sm-6">
  <div class="card" style="border-radius:15px;">
    <div class="card-body" style="border-radius:15px;">
      <h5 class="card-title hey"style="border-radius:10px;">
        <div class="card bg1 shad ">
          <div class="card-body">
        <div class="row" >
          <div class="col-6" style="color:#4d4c4c; ">
           Product Details
          </div>
          <div class="col-3">
           </div>
           <div class="col-3">
            <i class="fa fa-pencil-square-o" aria-hidden="true" style="padding-right:10px;padding-left:22px;"(click)="openPopup1()"></i>
            <i class="fa fa-info-circle" aria-hidden="true"(click)="openPopup()"></i>
           </div>
        </div>
      </div>
    </div></h5>
        <div class="row">
          <div class="col-6 pad">
            <p>Product Name</p>
          </div>
          <div class="col-6 pad1">
            <p>LG Smart LED</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 pad">
            <p>Brand Name</p>
          </div>
          <div class="col-6 pad1">
            <p>LG</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 pad">
            <p>Quantity</p>
          </div>
          <div class="col-6 pad1">
            <p>01</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6 pad">
            <p>Order Status</p>
          </div>
          <div class="col-6 pad1">
            <p>Cancelled</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 pad">
            <p>Payment Status</p>
          </div>
          <div class="col-6 pad1">
            <p>Pending</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 pad">
            <p>Payment Method</p>
          </div>
          <div class="col-6 pad1">
            <p>COD</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6 pad">
            <p>Delivery charge</p>
          </div>
          <div class="col-6 pad1">
            <p>1000</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 pad">
            <p>Total amount</p>
          </div>
          <div class="col-6 pad1">
            <p>54100</p>
          </div>
        </div>
      <p class="card-text">
        <!-- Some quick example text to build on the card title and make up the bulk of the
        card's content. -->
      </p>
      <!-- <button type="button" class="btn btn-primary">Button</button> -->
    </div>
  </div>
</div>
</div>
<!-- </div>
</div> -->
<br>
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog aone" role="document">
    <div class="modal-content"style="border-radius:10px;">

      <div class="modal-body">

              <div class="card-body" style="border-radius:15px;">
                <h5 class="card-title hey"style="border-radius:10px;">
                  <div class="card bg1 shad ">
                    <div class="card-body">
                  <div class="row" >
                    <div class="col-6" style="color:#4d4c4c; ">
                    Customer Details
                    </div>
                    <div class="col-3">
                     </div>
                     <div class="col-3"style="padding-left: 50px;">
                      <i class="fa fa-times" aria-hidden="true"(click)="closePopup()"></i>
                     </div>
                  </div>
                </div>
              </div></h5>
                  <div class="row">
                    <div class="col-6 pad">
                      <p>Name</p>
                    </div>
                    <div class="col-6 ">
                      <p>Vidyut</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 pad">
                      <p>Phone Number</p>
                    </div>
                    <div class="col-6 ">
                      <p>8952147580</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 pad">
                      <p>Address</p>
                    </div>
                    <div class="col-6 ">
                      <p>Some quick example text to build on the card title and make up the bulk of the
                        card's content</p>
                    </div>
                  </div>
                <p class="card-text">
                </p>
              </div>
            </div>
      </div>
    </div>
  </div>
<!-- </div> -->

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle1}">
  <div class="modal-dialog " role="document">
    <div class="modal-content"style="border-radius:10px;">

      <div class="modal-body">

        <div class="card-body" style="border-radius:15px;">
          <h5 class="card-title hey"style="border-radius:10px;">
            <div class="card bg1 shad">
              <div class="card-body">
            <div class="row" >
              <div class="col-6" style="color:#4d4c4c; ">
              Edit Details
              </div>
              <div class="col-3">
               </div>
               <div class="col-3" style="    padding-left: 65px;">
                <!-- <i class="fa fa-pencil-square-o" aria-hidden="true" style="padding-right:10px;padding-left:22px;"></i> -->
                <i class="fa fa-times" aria-hidden="true"(click)="closePopup1()"></i>
               </div>
            </div>
          </div>
        </div></h5>
            <div class="row">
              <div class="col-6 pad">
                <p>Product Name</p>
              </div>
              <div class="form-group col-md-4">
                <!-- <label for="inputState">State</label> -->
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-6 pad">
                <p>Payment Status</p>
              </div>
              <div class="form-group col-md-4">
                <!-- <label for="inputState">State</label> -->
                <select id="inputState" class="form-control">
                  <option selected>Select</option>
                  <option>Successfull</option>
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-6 pad">
                <p>Payment Method</p>
              </div>
              <div class="form-group col-md-4">
                <!-- <label for="inputState">State</label> -->
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
            </div>
          <p class="card-text">
            <!-- Some quick example text to build on the card title and make up the bulk of the
            card's content. -->
          </p>
          <!-- <button type="button" class="btn btn-primary">Button</button> -->
        </div>
            </div>
      </div>
    </div>
  </div>
  <div *ngIf="blur1==true" class="modal-backdrop fade show"></div>

   <!-- info for bup -->

<!-- <div class="row">
  <div class="col-6">
    <div class="card" style="border-radius:15px;">
      <div class="card-body" style="border-radius:15px;">
        <h5 class="card-title hey"style="border-radius:10px;">
          <div class="row" >
            <div class="col-6" style="color:#4d4c4c; ">
            Customer Details
            </div>
            <div class="col-3">
             </div>
             <div class="col-3">
              <i class="fa fa-pencil" aria-hidden="true" style="padding-right:10px;padding-left:22px;"></i>
              <i class="fa fa-times" aria-hidden="true"></i>
             </div>
          </div></h5>
          <div class="row">
            <div class="col-6 pad">
              <p>Name</p>
            </div>
            <div class="col-6 ">
              <p>Vidyut</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6 pad">
              <p>Phone Number</p>
            </div>
            <div class="col-6 ">
              <p>8952147580</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6 pad">
              <p>Address</p>
            </div>
            <div class="col-6 ">
              <p>Some quick example text to build on the card title and make up the bulk of the
                card's content</p>
            </div>
          </div>
        <p class="card-text">
        </p>
      </div>
    </div>
  </div>
  </div>
  <br> -->

<!-- edit bup -->

  <!-- <div class="row">
    <div class="col-6">
      <div class="card" style="border-radius:15px;">
        <div class="card-body" style="border-radius:15px;">
          <h5 class="card-title hey"style="border-radius:10px;">
            <div class="row" >
              <div class="col-6" style="color:#4d4c4c; ">
              Edit Details
              </div>
              <div class="col-3">
               </div>
               <div class="col-3" style="    padding-left: 65px;">

                <i class="fa fa-times" aria-hidden="true"></i>
               </div>
            </div></h5>
            <div class="row">
              <div class="col-6 pad">
                <p>Product Name</p>
              </div>
              <div class="form-group col-md-4">

                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-6 pad">
                <p>Payment Status</p>
              </div>
              <div class="form-group col-md-4">

                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-6 pad">
                <p>Payment Method</p>
              </div>
              <div class="form-group col-md-4">

                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
            </div>
          <p class="card-text">

          </p>

        </div>
      </div>
    </div>
    </div>
<br>
<br> -->

