.tab {
    margin-top: 116px;
    background-color: whitesmoke;
    margin-right: 1px;
    margin-left: 284.5px;


}
thead {
    background-image:
    linear-gradient(
      to right, 
      rgb(147, 213, 252), #e2eef7
      );
}
.am{
    text-align:left;

}
th {
    border-right-width: 1px;
    border-color: #a9a9a936;
}
td {
    border-right-width: 1px;
    border-color: #a9a9a936;
    width: fit-content;
}
tr:nth-child(even) {background-color: #9fe4f53a}
 .ab {
    font-size:25px;
    color:#7f7f7f;
    font-weight:400 !important;
    border: radius 15px;
 }
 .ac {
     border-radius: 15px;
     margin-top:100px;
     background-color:#ffffff ;
    //  height: 12vh;
 }
.bor {
    border-radius:  10px 10px 10px 10px;
    background-color: #eaeaea;
    //   margin-top: 25px;
}
.bar {
    text-align:right;
    padding-right:30px;
    font-size: 25px;
}
.clr{
    padding-right: 20px;
    // color:#7f7f7f;
}
.hey {
    background-color: #96d6fc;
    font-size: 20px;
    // height: 7vh;
    // padding-top: 2vh;
    // padding-left: 3vh;
}
.pad {
    padding-left: 30px;
    font-weight:500px;
    color:#7f7f7f; 
}
.pad1 {
    padding-left: 85px;
}
.pad2 {
    padding-top:25px;
}
// .primary {
//     color: red;
//   }
//   .primary1 {
//     color: rgb(46, 45, 45);
//   }
//   .secondary {
//     color: red;
//   }
//   .secondary1 {
//     color: rgb(46, 45, 45);
//   }
