<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card ac ">
    <div class="card-body">
  <div class="row ">
    <div class="col-6 ab" ><i class="fa fa-bell" style="padding-right:20px;" aria-hidden="true"></i>Manage Payments</div>
    <div class="col-4">
        <div class="input-group ps-5">

          </div>
    </div>
    <div class="col-2 bar ">
      <i class="fa fa-th-large clr" aria-hidden="true"></i>
      <i class="fa fa-bars " style="color:#95d5fc"  aria-hidden="true"></i>
    </div>
  </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                <div class="card" style="border-radius:15px; background-color: #f8f9fa;">
                    <!-- <div class="card-body" style="border-radius:15px;">
                    </div> -->
                    <div class="row">
                        <div class="col-8 car" >
                            <p style="padding-top:35px;" >Total Receieved</p>
                        </div>
                        <div class="col-4">
                            <div class="row">
                            <p><i style="font-size: 20px; padding-top:15px;color: rgba(255, 0, 0, 0.747);
                                padding-right: 7px;" class="fa fa-inr" aria-hidden="true"></i>Pending </p></div>
                            <div class="row">
                                <p class="pay">14000</p></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 car run">
                            17,2500
                        </div>
                        <div class="col-4">
                            <div class="row">
                            <p><i style="font-size: 20px; padding-top:15px;color: rgba(61, 32, 192, 0.767);
                                padding-right: 7px;" class="fa fa-university" aria-hidden="true"></i> In Draft </p></div>
                            <div class="row">
                                <p class="pay">1000 </p></div>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Add Invoice</button>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col ">
            <h2 class="aab">Invoices:</h2>
            <h4 class="aab">All Recent Transactions</h4>
        </div>
    </div>
    <br>
    <app-primeng></app-primeng>
<br>
<app-forms></app-forms>
