.ab {
    font-size:25px;
    color:#7f7f7f;
    font-weight:400 !important;
    border: radius 15px;
 }
 .aab{
    margin-top: 25px;
    font-size:25px;
    color:#585555;
    font-weight:400 !important;
    border: radius 15px;
 }
 .ac {
     border-radius: 15px;
     margin-top:100px;
     background-color:#f8f9fa ;
     height: 50px;
     padding-top: 12px;
 }
.bor {
    border-radius:  10px 10px 10px 10px;
    background-color: #eaeaea;
    //   margin-top: 25px;
}
.bar {
    text-align:right;
    padding-right:30px;
    font-size: 25px;
}
.clr{
    padding-right: 20px;
    color:#7f7f7f;
}.car {
    font-size: 19px;
    height: 15vh;
    padding-left: 25px;
    padding-top: 10px;
}
.run {
    font-weight: 600px;
    font-size: 45px;
}
.pay {
    padding-left: 30px;
    font-size: 15px;font-weight:500;
}
.pay1 {
    font-size: 20px; padding-top:15px;
padding-right: 7px;
}