<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse "style="background-color:#f8f9fa;  border-radius: 15px;">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a
        routerLink="/layout/dashboard" routerLinkActive="active"
          class="list-group-item list-group-item-action py-2 ripple mar "
          aria-current="true"
        >
        <i class="fa fa-tachometer" aria-hidden="true"></i><span class="pad">Dashboard</span>
        </a><!--active  -->
        <a    routerLink="/layout/ProductsManagementComponent" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple mar ">
         <i class="fa fa-cart-arrow-down" aria-hidden="true"></i><span class="pad">Manage Orders</span>
          </a>
        <a    routerLink="/layout/ServiceRequestComponent" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple mar"
          ><i class="fa fa-phone" aria-hidden="true"></i><span class="pad">Service Request</span></a
        >
        <a   routerLink="/layout/ManageProductsComponent" routerLinkActive="active"  class="list-group-item list-group-item-action py-2 ripple mar"
          ><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="pad">Manage Products</span></a
        >
        <a routerLink="/layout/PaymentsComponent" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple mar"
          ><i class="fa fa-credit-card-alt" aria-hidden="true"></i><span class="pad">Payments</span></a
        >
        <a routerLink="/layout/NotificationsComponent" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple mar"
          ><i class="fa fa-bell" aria-hidden="true"></i><span class="pad">Notifications</span></a
        >
        <a routerLink="/layout/PrimengComponent" class="list-group-item list-group-item-action py-2 ripple mar"
          ><i class="fa fa-question-circle" aria-hidden="true"></i><span class="pad">Help & Support</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple mar"
          ><i class="fa fa-star-half-o" aria-hidden="true"></i><span class="pad">Rating & Reviews</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple mar"
          ><i class="fa fa-tags" aria-hidden="true"></i><span class="pad">Manage Discounts</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple mar"
          ><i class="fa fa-list-alt" aria-hidden="true"></i><span class="pad">Invoice</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple mar"
        ><i class="fa fa-flag" aria-hidden="true"></i><span class="pad">Reports</span></a
      >
      </div>
    </div>
  </nav>
