
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    margin-top: 85px;
  }
  .sidebar:hover{
    overflow-y: scroll;
 
 }
//  .active{
//     background-color:rgba(63, 163, 189, 0.616);
//  }
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
  .pad {
    padding-left: 11px;
  }
 .mar {
   margin-bottom: 8px;
 }
 a {
   background-color:#ffffff;
 }
 a:hover {
  // background-color:#abdde9;
  background-image:
  linear-gradient(
    to right, 
    #37b0bee0, #37b0be44

  );
  color:white;
  border-radius: 10px;
}
.active {
  background-image:
  linear-gradient(
    to right, 
    #37b0bee0, #37b0be44

  );

}
  .sidebar-sticky {
    position: relative;
    top:0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: hidden; 
  }

