/* Add a black background color to the top navigation */


  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    margin-top: 85px;
  }
  .sidebar:hover{
    overflow-y: scroll;
 
 }
 .active{
    background-color:rgba(63, 163, 189, 0.616);
 }
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  .pad {
    padding-left: 11px;
  }
 .mar {
   margin-bottom: 8px;
 }
 a {
   background-color:#f8f9fa;
 }
 a:hover {
  // background-color:#abdde9;
  background-image:
  linear-gradient(
    to right, 
    rgb(147, 213, 252), #e2eef7
    );
  border-radius: 10px;
}
.active {
  background-image:
  linear-gradient(
    to right, 
    rgb(147, 213, 252), #e2eef7
    );

}
  .sidebar-sticky {
    position: relative;
    top:0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */

    
  }

