<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container" *ngIf="ss==false">
  <div class="card ac pa shad">
    <div class="card-body">
      <div class="row" style="padding-top:0px">
        <div class="col-5 ab"><i class="fa fa-clock-o" style="padding-right:20px;" aria-hidden="true"></i>Manage
          Products</div>
        <div class="col-3">
          <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div class="col -2 bar" style="padding-top: 7px;">
          <i class="fa fa-th-large clr" aria-hidden="true" [ngClass]="{'active' : clr, 'inactive': !clr}"
            (click)="changeview()"></i>
          <i class="fa fa-bars" aria-hidden="true" [ngClass]="{'active': !clr, 'inactive': clr}"
            (click)="changeview1()"></i>
        </div>
        <div class="col-2" Style=" text-align: center;">
          <button class="btn btn-primary" type="submit" (click)="openPopup1()"><i class="fa fa-plus"
              aria-hidden="true"></i>AddProducts</button>
        </div>
      </div>
    </div>
  </div>


  <br>
  <div class="card shad bg" style="border-radius:10px; padding: 10px; " *ngIf="tabview==false">
    <p-table [value]="products" styleClass="p-datatable-striped" [rows]="5" [paginator]="true" [pageLinks]="30"
      [responsive]='true' scrollHeight='420px' [scrollable]='true'>
      <ng-template pTemplate="header">
        <tr>

          <th style="min-width:150px">S No</th>
          <th style="min-width:150px">Request Type</th>
          <th style="min-width:150px">Product Name </th>
          <th style="min-width:150px">Brand Name</th>
          <th style="min-width:150px">Product Price</th>
          <th style="min-width:150px">Offer price</th>
          <th style="min-width:150px">Product Image</th>
          <th style="min-width:150px">Description</th>
          <th style="min-width:150px">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td style="min-width:150px">{{product.sno}}</td>
          <td style="min-width:150px">{{product.name}}</td>
          <td style="min-width:150px">{{product.category}}</td>
          <td style="min-width:150px">{{product.category}}</td>
          <td style="min-width:150px">{{product.code}}</td>
          <td style="min-width:150px">{{product.name}}</td>
          <td style="min-width:150px">{{product.category}}</td>
          <td style="min-width:150px">{{product.quantity}}</td>
          <td style="display:revert; min-width:150px;">
            <i class="fa fa-pencil bb" style="color:rgb(38, 38, 224)" aria-hidden="true"></i>
            <i class="fa fa-trash bb" style="color:red" aria-hidden="true"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <br>
  <div class="row" *ngIf="tabview==true">
    <div class="col-sm-4" style="margin-top: 15px;" *ngFor="let item of products">
      <div class=" card shad">
        <div class="row">
          <div class="col-6" style="color:#4d4c4c; ">

          </div>
          <div class="col-2">
          </div>
          <div class="col-4" style="padding-top: 17px; font-size: 20px;">
            <i class="fa fa-pencil-square-o" aria-hidden="true" style="padding-right:10px;padding-left:22px;"
              (click)="openPopupedit()"></i>
            <i class="fa fa-info-circle" aria-hidden="true" (click)="opendisplayStyleinfo()"></i>
          </div>
        </div>
        <img class="card-img-top" src="../../../../assets/images/fridge.png" style="height:25vh" alt="cap">
        <div class="card-body">
          <div class="row">
            <div class="col-5 pad">
              <p>Product Name</p>
            </div>
            <div class="col-7 pad1">
              <p>{{item.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-5 pad">
              <p>Brand Name</p>
            </div>
            <div class="col-7 pad1">
              <p>{{item.brand}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-5 pad">
              <p>Price Amount</p>
            </div>
            <div class="col-7 pad1">
              <p>{{item.brand}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-5 pad">
              <p>Discount Rate</p>
            </div>
            <div class="col-7 pad1">
              <p>{{item.brand}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-5 pad">
              <p>Description</p>
            </div>
            <div class="col-7 pad1">
              <p>{{item.brand}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>
  <div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle1}">
    <div class="modal-dialog aone " role="document">
      <div class="modal-content" style="border-radius:10px;">

        <div class="modal-body">

          <div class="card-body" style="border-radius:15px;">
            <!-- <h5 class="card-title hey"style="border-radius:10px;"> -->
            <div class="card hey bg1 ">
              <div class="card-body">
                <div class="row">
                  <div class="col-6" style="color:#4d4c4c; ">
                    Add Product
                  </div>
                  <div class="col-3">
                  </div>
                  <div class="col-3" style="    padding-left: 65px;">
                    <!-- <i class="fa fa-pencil-square-o" aria-hidden="true" style="padding-right:10px;padding-left:22px;"></i> -->
                    <i class="fa fa-times" aria-hidden="true" (click)="closePopup1()"></i>
                  </div>
                </div>
              </div>
            </div>
            <!-- </h5> -->
            <form [formGroup]="addproducts">
              <div class="row" style="padding-top: 24px;">
                <div class="col-4 pad">
                  <p>Product Name</p>
                </div>
                <div class="form-group col-md-8">
                  <input class="form-control" type="text" formControlName="product_name" placeholder="">
                </div>
              </div>
              <div class="row" style="padding-top: 24px;">
                <div class="col-4 pad">
                  <p>Brand Name</p>
                </div>
                <div class="form-group col-md-8">
                  <input class="form-control" type="text" formControlName="brand_name" placeholder="">
                </div>
              </div>
              <div class="row" style="padding-top: 24px;">
                <div class="col-4 pad">
                  <p>Image</p>
                </div>
                <div class="form-group col-md-5">
                  <input class="form-control" type="text" formControlName="Image" placeholder="URL">
                  <label class="warn"> size should be within 100KB</label>
                </div>
                <div class="form-group col-md-1">
                  <p style="padding-top: 6px;"> or </p>
                </div>
                <div class="form-group col-md-2">
                  <label>
                    <img src="../../../../assets/images/upload.jpeg" alt="" class="img-fluid">
                    <input type="file" name="" id="file" style="display: none;">
                  </label>
                </div>
              </div>
              <div class="row" style="padding-top: 24px;">
                <div class="col-4 pad">
                  <p style="padding-top: 20px;">Description</p>
                </div>
                <div class="form-group col-md-8">

                  <div class="form-group">
                    <label class=" padd" for="comment"></label>
                    <textarea class="form-control" formControlName="Description" rows="5" id="comment"></textarea>
                  </div>

                </div>
              </div>
              <div class="row" style="padding-top: 24px;">
                <div class="col-4 pad">
                  <p>Fixed Price</p>
                </div>
                <div class="form-group col-md-8">
                  <input class="form-control" type="number" formControlName="fixed_price" placeholder="">
                </div>
              </div>
              <div class="row" style="padding-top: 24px;">
                <div class="col-4 pad">
                  <p>Offer Price</p>
                </div>
                <div class="form-group col-md-8">
                  <input class="form-control" type="number" formControlName="offer_price" placeholder="">
                </div>
              </div>
              <div class="row" style="padding-top: 24px; text-align: left;">
                <div class="col-6"></div>
                <div class="col-3">
                  <button type="button" class="btn btn-danger" (click)="closePopup1()">Cancel</button>
                </div>
                <div class="col-3">
                  <button type="button" class="btn btn-primary" (click)="closeSave()">Save</button>
                </div>
              </div>
              <p class="card-text">
              </p>
            </form>
            <p class="card-text">
            </p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="blur==true" class="modal-backdrop fade show"></div>
    <br>
  </div>
</div>
<br>
<div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyleedit}">
  <div class="modal-dialog aone " role="document">
    <div class="modal-content" style="border-radius:10px;">
      <div class="modal-body">
        <div class="card-body" style="border-radius:15px;">
          <div class="card hey bg1 ">
            <div class="card-body">
              <div class="row">
                <div class="col-6" style="color:#4d4c4c; ">
                  Edit Product
                </div>
                <div class="col-3">
                </div>
                <div class="col-3" style="    padding-left: 65px;">
                  <i class="fa fa-times" aria-hidden="true" (click)="closePopupedit()"></i>
                </div>
              </div>
            </div>
          </div>
          <br>
          <form style="padding-left:20px;">
            <div class="row">
              <div class="col-4 pad">
                <p>Product Name</p>
              </div>
              <div class="form-group col-md-8">
                <input class="form-control" type="text" placeholder="Product Name">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4 pad">
                <p>Brand Name</p>
              </div>
              <div class="form-group col-md-8">
                <input class="form-control" type="text" placeholder="Brand Name">
              </div>
            </div>
            <br>
            <div class="row" style="padding-top: 0px;">
              <div class="col-4 pad">
                <p>Image</p>
              </div>
              <div class="form-group col-md-5">
                <input class="form-control" type="text" formControlName="Image" placeholder="URL">
              </div>
              <div class="form-group col-md-1">
                <p style="padding-top: 6px;"> or </p>
              </div>
              <div class="form-group col-md-2">
                <label>
                  <img src="../../../../assets/images/upload.jpeg" alt="" class="img-fluid">
                  <input type="file" name="" id="file" style="display: none;">
                </label>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4 pad">
                <p>Descriptionp</p>
              </div>
              <div class="form-group col-md-8">
                <div class="form-group">
                  <label class=" padd" for="comment"></label>
                  <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4 pad">
                <p>Fixed Price</p>
              </div>
              <div class="form-group col-md-8">
                <input class="form-control" type="number" placeholder="Fixed Price">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4 pad">
                <p>Offer Price</p>
              </div>
              <div class="form-group col-md-8">
                <input class="form-control" type="number" placeholder="Offer Price">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-6">
                <button type="button" class="btn btn-secondary btn-sm" style="margin-left:155px;">Cancel</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary btn-sm">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyleinfo}" *ngFor="let item of products">
  <div class="modal-dialog aone " role="document">
    <div class="modal-content" style="border-radius:10px;">
      <div class="modal-body">
        <div class="card-body" style="border-radius:15px;">
          <div class="card hey bg1 ">
            <div class="card-body">
              <div class="row">
                <div class="col-6" style="color:#4d4c4c; ">
                  Product Details
                </div>
                <div class="col-3">
                </div>
                <div class="col-3" style="    padding-left: 65px;">
                  <i class="fa fa-times" aria-hidden="true" (click)="closedisplayStyleinfo()"></i>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row" style="padding-top: 20px;">
            <div class="col-6 pad">
              <p>Name</p>
            </div>
            <div class="col-6 ">
              <p>{{item.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6 pad">
              <p>Phone Number</p>
            </div>
            <div class="col-6 ">
              <p>8{{item.pno}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6 pad">
              <p>Address</p>
            </div>
            <div class="col-6 ">
              <p>{{item.address}}</p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6">
              <button type="button" class="btn btn-secondary btn-sm" style="margin-left:155px;">Cancel</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-primary btn-sm">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="blur==true" class="modal-backdrop fade show"></div>
<br>
<br>