<!-- <app-orgtable></app-orgtable> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="row ac">
    <div class="col-6 ab" ><i class="fa fa-bell" style="padding-right:20px;" aria-hidden="true"></i>Notification Management</div>
    <div class="col-4">
        <div class="input-group ps-5">
           
          </div>
    </div>
    <div class="col-2 bar">
      <i class="fa fa-th-large clr" aria-hidden="true"></i>
      <i class="fa fa-bars" style="color:#95d5fc" aria-hidden="true"></i>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-6">
      <div class="card" style="border-radius:15px;">
        <div class="card-body" style="border-radius:15px;">
          <h5 class="card-title hey"style="border-radius:15px;">
           </h5>
            <div class="row"style="padding-top: 24px;">
              <div class="col-6 pad">
                <p>Notification Type</p>
              </div>
              <div class="form-group col-md-6">
                <input class="form-control" type="text" placeholder="Enter Title">
              </div>
            </div>
            <div class="row" style="padding-top: 24px;">
                <div class="col-6 pad">
                  <p>Image </p>
                </div>
                <div class="form-group col-md-6">
                  <form>
                      <div class="form-group">
                        <!-- <label for="exampleFormControlFile1">Example file input</label> -->
                        <input class="form-control" type="text" placeholder="Enter URL">
                      </div>
                    </form>
                </div>
              </div>
            <div class="row"style="padding-top: 24px;">
              <div class="col-6 pad">
                <p>Brand Name</p>
              </div>
              <div class="form-group col-md-6"  >
                <input class="form-control" type="text" placeholder="Brand Name">
              </div>
            </div>
            <div class="row" style="padding-top: 24px;">
                <div class="col-6 pad">
                  <p>Notification Message</p>
                </div>
                <div class="form-group col-md-6">
                    <form>
                        <div class="form-group">
                          <label class=" padd" for="comment"></label>
                          <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                      </form>
                </div>
              </div>
              <div class="row"  style="padding-top: 24px;">
                <div class="col-6 pad">
                  <p>Execute On</p>
                </div>
                <div class="form-group col-md-4">
                  <!-- <label for="inputState">State</label> -->
                  <select id="inputState" class="form-control">
                    <option selected>Select Option</option>
                    <option>...</option>
                  </select>
                </div>
              </div>
              <div class="row"  style="padding-top: 24px;">
                <div class="col-6 pad">
                  <p>Status</p>
                </div>
                <div class="form-group col-md-4">
                  <!-- <label for="inputState">State</label> -->
                  <select id="inputState" class="form-control">
                    <option selected>Select Option</option>
                    <option>...</option>
                  </select>
                </div>
              </div>
              <div class="row" style="padding-top: 24px; text-align: left;">
                <div class="col-6"></div>
                <div class="col-3">
                    <button type="button" class="btn btn-danger">Cancel</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          <p class="card-text">
            <!-- Some quick example text to build on the card title and make up the bulk of the
            card's content. -->
          </p>
          <!-- <button type="button" class="btn btn-primary">Button</button> -->
        </div>
      </div>
    </div>
    </div>
<br>
