.ab {
    font-size:25px;
    color:#7f7f7f;
    font-weight:400 !important;
    border: radius 15px;
 }
 .ac {
     border-radius: 15px;
     margin-top:100px;
     background-color:#f8f9fa ;
     height: 50px;
     padding-top: 12px;
 }
.bor {
    border-radius:  10px 10px 10px 10px;
    background-color: #eaeaea;
    //   margin-top: 25px;
}
.bar {
    text-align:right;
    padding-right:30px;
    font-size: 25px;
}
.clr{
    padding-right: 20px;
    color:#7f7f7f;
}
.pad {
    padding-left: 30px;
    font-weight:500px;
    color:#7f7f7f; 
}
button{
     background-color: #eaeaea;

}
.one {
    padding-bottom: 25px;
}
.two {
    padding-bottom: 10px;
}
.two1 {
    padding-top: 10px;

}
.two2 {
    border-radius: 10px;
}
.ac {
    border-radius: 15px;
    margin-top:100px;
    background-color:#f8f9fa ;
    height: 50px;
    padding-top: 12px;
    height:12vh;
}
.r{
   padding-top:25px;
}